
.header {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color:white;
    background-color:#fca311;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;  
    color: #d90429;
    margin-top: 40px;
    text-decoration: solid underline;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold; 
}
#o {
    color: orange;
}
#w {
    color:darkblue;
}
#g {
    color:green;
}

ul {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: bold;  
        color: #000000;
}
.flag {
    width: 400px;
    height: 300px;
    margin:auto;
    margin-top: 150px;
    margin-bottom: 80px;
    border: 1px solid black;
    box-shadow: 5px 10px 18px #888888;
}

#orange {
    background-color: orange;
    border: 1px solid black;
padding-top: 101px;
}
 
#white {
    background-color: white;
    border: 1px;
margin:auto;
}


#green {
    background-color: green;
    border: 1px solid black;
    padding-top: 100px; 
}
#chakra {
    height: 96px;
    width: auto;
    display: block;
    margin:auto;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
footer {
    text-align: center;
    font-size: 15px;
    font-weight: bolder ;
    color:white;
    background-color: #fca311;
    padding: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    
}